html, body{
	height: 100%;
	background-color: #FFFFF3;
}

a:hover{
	color: #F87514;
	text-decoration: none;
}



#left-panel{
	margin-left: 20px;
}
#left-panel li{
	list-style: none;

}
#left-panel a{
	padding-left: 20px;
}
.btn{
	min-width: 80px;
}

#sex-radio>label{
	margin-left: 15px;
}
.table.table-information{
	margin-bottom: 0px;
}
.table-information tr:first-child td{
	border-top: none; 
}

.form-inline{
	margin-bottom: 10px;
}

.form-inline .form-group{
	margin-right: 20px;
	margin-left: 20px;
}

.btn-type{
	max-width: 180px;
	margin-top: 10px;
}
#header{
	background-color: #FFF7D0;
	color: black;
	top:0px;
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: 2px solid #F87514;
}
#headerNV{
	background-color: #FFF7D0;
	border-bottom-color: #F87413;
}
#headerNV #logo{
	height: 50px;
	margin-top: -15px;
	margin-left: 50px;
}
#headerNV .navbar-right{
	margin-right: 80px;
}

.content{
	margin-top: 85px;
	min-height: 80%;
}
.content:after{
	content: "";
	display: block;
}
#header #logo{
	height: 70px;
}
.header-menu ul{
	margin-top: 20px;
    padding: 0;
    list-style: none;
}
.header-menu>ul>li{
	display: inline-block;
	padding-left: 20px;
	font-size: 20px;
	font-family: serif;
	font-weight: bold;
}
.header-menu ul li a{
	display: block;
	color: #2F1804;
	text-decoration: none;
}
.header-menu li:hover{
	cursor: pointer;
}
.header-menu li:hover, .header-menu a:hover{
	color: #FF1500;
}
.header-menu ul ul{
	min-width: 200px;
	display: none;
	background-color: #FFF7D0;
	position: absolute;
	z-index: 1;
}
.header-menu ul li:hover ul{
	display: block;
	margin-top: 0px;
	padding-left: 20px;
	border-left: 5px solid #FF1500;
	border-bottom: 2px solid #FF1500;
	border-top: 0px;
	font-weight: normal;
		
}
.header-menu ul li ul li:hover{
	color: #FF1500;
	border-right: 2px solid #FF1500;
}
#footer{
	background-color: #FFF7D0;
	color: black;
	border-top: 1px solid black;
	padding-top: 15px;
	clear: both;
	height: 150px;
	margin-bottom: 0px;
	width: 100%;
	border-top: 2px solid #F87514;
}

#footer hr{
    border: 0;
    border-top: 1px solid black;
    margin: 8px auto;

}

.footer-left img{
	height: 25px;
}
.footer-left a{
	text-decoration: none;
	color: #400000;
}

.advanced-search{
	display: none;
}
#search-indicator{
	text-decoration: none;
}

.panel.panel-warning{
	border: 1px solid #F87413;
}

.form-button{
	display: inline-block;
}

.indent-title{
	width: 70px;
	height: 20px;
	padding: 3px;
	background-color: #F0AD4E;
	color: white;
	border-radius: 2px;
	font-size: 15px;
	margin-right: 3px;
	display: inline-block;
	text-align: center;
}

.phone{
	width: 120px;
	height: 25px;
	padding: 2px;
	background-color: #F0AD4E;
	color: white;
	border-radius: 1px;
	font-size: 15px;
	margin-right: 3px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.share{
	font-size: 12px;
}
.share a{
	margin-right: 10px;
}
.share a>img, .share button>img{
	margin: 3px;
	margin-left: 5px;
	width: 20px;
	display: inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}